<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <figure>
      <img src="/img/videoclub.jpg" alt="Logo Video Club">
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
    <p><a href="/movies">Listado de Películas</a></p>
    <nav>
      <ul>
        <li>
          <a href="/login"> Login </a>
          <br>
          <a href="/register"> Register </a>
        </li>
      </ul>
    </nav>
  </body>
</html>
